.treeBox {
  margin-bottom: 20px;
  line-height: 40px;
  .treeName {
    text-align: right;
    span {
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
    }
  }
}

.myEditor {
  border: 1px solid rgb(217, 217, 217);
}

.sliderImgBox {
  margin-bottom: 20px;
  text-align: left;
  button {
    width: 160px;
    height: 60px;
    background-position: center;
    background-size: 160px;
  }
  img {
    width: 160px;
    max-height: 160px;
  }
}
.tag {
  display: inline-block;
  margin-left: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
  background-color: #1890ff;
  border-radius: 8px;
}

.siteBox {
  width: 500px;
  min-height: 50px;
  padding: 0px 10px;
  padding-bottom: 20px;
  line-height: 20px;
  background-color: #d5eaff;
  border-radius: 5px;
  p {
    margin: 0;
    padding: 10px 0px;
    line-height: 20px;
  }

  h3 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
  }
}
