@import '~antd/es/style/themes/default.less';

.container {
  min-height: 520px;
  padding: 20px;
  background: #fff;
  .cardOne {
    p {
      width: 100%;
      overflow: hidden;
      color: #999;
      line-height: 40px;
      border-bottom: 1px solid rgb(241, 240, 240);
      span {
        float: right;
        color: #666;
      }
    }
    p:last-child {
      border: none;
    }
  }
}
